<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Memuat DataTables CSS -->
    <link href="https://cdn.datatables.net/1.13.11/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<style type="text/css">
	.scanform{
		margin-top: 40px;
	}
    .custom-success{
        width: 15%;
        margin: 1% 42.5% 0 42.5%;
        border: none;
        text-align: center;
    }
    .table{
        width: 50%;
    }
    .card-table-color{
        width: 60%;
        margin: 2% 20% 0 20%;
        padding: 1% 0 1% 0;
        background-color: #ebf4f7;
        border-radius: 8px;
    }
    .card-table{
        width: 90%;
        margin: 0 5% 0 5%;
    }
</style>

<body class="bg-light">
    <div class="container-fluid d-flex justify-content-center align-items-center scanform">
        <div class="card" style="width: 100%; max-width: 400px;">
            <div class="card-header text-center">
                <h5 class="mb-0">Command Scanner</h5>
            </div>
            <div class="card-body">
                <form method="GET" action="{% url 'scanner' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.command }}
                    </div>
                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" name="scan" value="SCAN">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div class='card-table-color'>
        <div class='card-table'>
            <table id="statusTable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Extension</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.11/js/jquery.dataTables.min.js"></script>

  
    <script type="text/javascript">
    $(document).ready(function() {
        $('#statusTable').DataTable({
            ajax: {
                url: '/data_result/',
                dataSrc: ''
            },
            columns: [
                { data: null, render: function(data, type, row, meta) {
                    return meta.row + 1;
                }},
                { data: 'name', orderable: false },
                { data: 'extension', orderable: false },
                { data: null, orderable: false, render: function(data, type, row) {
                    let fileNameWithExtension = `${row.name}.${row.extension}`;
                    let class_;
                    if(row.extension == "xml"){
                        actButton = "Convert";
                        actHref = "/convertFile/"+fileNameWithExtension;
                        class_ = "btn-success"
                        target_ = "_self"
                    }else{
                        actButton = "Open"
                        actHref = "/openFile/"+fileNameWithExtension;
                        class_ = "btn-primary"
                        target_ = "_blank"
                    }
                    return `
                        <a class="btn ${class_} btn-sm" style="min-width: 100px; text-align: center;" href="${actHref}" target="${target_}">${actButton}</a>
                    `;
                }}
            ]
        });
    });
    </script>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success custom-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Convert</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>JPG</li>
                        <li>PNG</li>
                        <li>BMP</li>
                        <li>GIF</li>
                        <li>PCAP</li>
                        <li>PCAPNG</li>
                        <li>RAR</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        const convertBtns = document.querySelectorAll('.convertBtn');
        convertBtns.forEach(function(convertBtn) {
            const myModal = new bootstrap.Modal(document.getElementById('myModal'));
            console.log(convert);
            convert.addEventListener('click', function() {
                myModal.show();
            });
        });
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
